#header{
  font-size: 40pt;
  padding: 2%;
  background: #F6921E;
  color: #333333;
  -o-transition:.3s;
  -ms-transition:.3s;
  -moz-transition:.3s;
  -webkit-transition:.3s;
  transition:.3s;
}

#footer{
  background: #6f77ff;
  color: #333333;
  width: 100%;
  height: 20%;
  margin-top: 5%;
}

.headtitle{
  margin-top: 5%;
  font-size: 30pt;
  text-align: center;
}

.mainnav{
  background-color: #F6921E;
  font-size: 32pt;
  text-align: center;
  -o-transition:.3s;
  -ms-transition:.3s;
  -moz-transition:.3s;
  -webkit-transition:.3s;
  transition:.3s;
}

.dealsimg{
  width: 10%;
  height: 60%;
  float: right;
  margin-left: 50px;
}

.newstxt{
  text-align: center;
  font-weight: bold;
  color: #333333;
}

.dealtxt{
  font-size: 24pt;
  text-align: center;
}

.imgmargin{
  margin-bottom: 0.25rem;
  padding: 1rem;
  background: #e8c21f;
  color: #333333;
  border-radius: 0px 25px 0px 25px;
-moz-border-radius: 0px 25px 0px 25px;
-webkit-border-radius: 0px 25px 0px 25px;
border: 3px dotted #000000;
}

.news{
  margin-left: 2%;
}

hr {
  height: 3px;
  color: #ff681f;
  background: #ff681f;
  margin-bottom: 2%;
  margin-top:2%;
  font-size: 0;
  border: 0;
}

.newspost{
  background-color: #e8c21f;
}

.deals{
  margin-right: 2%;
}

.maptxt{
  text-align: center;
  margin-top: 5%;
}

.mapimg{
  border-style:solid;
  border-width: 2px;
  border-color: #000000;
  text-align: center;
  width: 60%;
  margin: 0 auto;
}

.infotxt{
text-align: left;
margin-left:5%;
}

.infoimg{
  float: left;
  width: 40%;
  margin-left: 50%;
}

.transit{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.transitBay{
  background-color: #ffffff !important;
}

@media only screen and (max-width: 40em) {
  #header{
  font-size: 24pt;
  padding: 2%;
  background: #ff681f;
  color: #333333;
	}
}

.transitpdf{
  width:100%;
  height: 1100px;
  margin-left: 5%;
}

.shopstitle{
  margin-top: 1%;
  font-size: 30pt;
  text-align: center;
}

.mappdf{
  margin-top: 2%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 600px;
}

.googlemaps{
  width: 80%;
  height: auto;
}

.blog:hover div{
  background-color: #ba9b19;
}

.navlist:hover{
  color:#000000;
  background-color: #ff681f;
}

a:link{
  color:#333333;
}

a:visited{
  color:#333333;
}

#header:hover{
  background-color:#ff681f;
}

.transittxt{
  text-align: center;
  margin-bottom: none;
}

.shopsimg{
  float: right;
}

.construction{
  text-align: center;
  color: #65ff35 !important;
  font-size:24pt;
}

.panel.callout:hover{
  background-color:#ba9b19 !important;
}

.blogpost{
  padding:2%;
  background-color: #e8c21f;
  margin-left:2%;
  margin-right:2%;
border-radius: 25px 25px 0px 0px;
-moz-border-radius: 25px 25px 0px 0px;
-webkit-border-radius: 25px 25px 0px 0px;
border: 3px dotted #000000;
}

.blogimg{
display: block;
    margin-left: auto;
    margin-right: auto
}
.navlist{
	-o-transition:.3s;
  -ms-transition:.3s;
  -moz-transition:.3s;
  -webkit-transition:.3s;
  transition:.3s;
}

.blogdiv{
    border-style: solid;
    border-width: 0px;
    border-color: #c5e8f3;
    margin-bottom: 1.25rem;
    padding: 1.25rem;
    background: #e8c21f;
    color: #333333;
	-o-transition:.3s;
  	-ms-transition:.3s;
  	-moz-transition:.3s;
  	-webkit-transition:.3s;
  	transition:.3s;
    border-radius: 25px 0px 25px 0px;
-moz-border-radius: 25px 0px 25px 0px;
-webkit-border-radius: 25px 0px 25px 0px;
border: 3px dotted #000000;
}

.transitAccordion{
  background-color: #6f77ff !important;
  padding: none;
    -o-transition:.3s;
    -ms-transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;
    transition:.3s;
}
.transitAccordion:hover{
  background-color: #434799 !important;
}

.shopAccordion{
  background-color: #6b24b2 !important;
  color: #aaaaaa !important;
    -o-transition:.3s;
    -ms-transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;
    transition:.3s;
    border-radius: 0px 0px 0px 0px;
-moz-border-radius: 0px 0px 0px 0px;
-webkit-border-radius: 0px 0px 0px 0px;
border: 3px dashed #6f77ff;

}
.shopAccordion:hover{
  background-color: #9766c9 !important;
  color: #000000 !important;
}

.shop{
  background-color:#e8c21f !important;
}
.shops{
    -o-transition:.3s;
    -ms-transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;
    transition:.3s;}